<% provide(:title, 'Log in') %>
<h1>Login</h1>

<!--Alert user if fields are not filled / if invalid email pw combo -->
<div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
</div>
    
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
         
             

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :FullName %>
      <%= f.text_field :FullName, class: 'form-control' %>
      
      <%= f.label :PhoneNumber %>
      <%= f.phone_field :PhoneNumber, class: 'form-control' %>


      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
        <span>&nbsp;&nbsp;&nbsp; Remember me on this computer</span>
      <% end %>
      
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path, :class => "btn btn-outline-secondary" %></p>
  </div>
</div>