<%= form_for(cater_order_option) do |f| %>
  <% if cater_order_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cater_order_option.errors.count, "error") %> prohibited this cater_order_option from being saved:</h2>

      <ul>
      <% cater_order_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>
  
<div class="col-md-6 col-md-offset-3">
    <%= f.label 'Meats' %>
    <%= f.text_field :cateringOptions %>

    <%= f.label 'Meat qty' %>
    <%= f.text_field :CaterDesc %>

    <%= f.label 'Sides' %>
    <%= f.text_field :sideOptions %>

    <%= f.label 'Sides qty' %>
    <%= f.text_field :sideDesc %>

    <%= f.label :price %>
    <%= f.text_field :price %>


    <%= f.submit 'Submit New Item' %>
    <%= link_to 'Back', cater_order_options_path, :class => "btn btn-link" %>
</div>
<% end %>
