<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-2">
<h1>Catering Package Information</h1>  
  
<p>
  <strong>Catering Options:</strong>
  <%= @cater_order_option.cateringOptions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cater_order_option.CaterDesc %>
</p>

<p>
  <strong>Side Options:</strong>
  <%= @cater_order_option.sideOptions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cater_order_option.sideDesc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cater_order_option.price %>
</p>
</div>

<div class="col-md-6 col-md-offset-3">
<%= link_to 'Edit', edit_cater_order_option_path(@cater_order_option), :class => "btn btn-outline-secondary" %> |
<%= link_to 'Back', cater_order_options_path, :class => "btn btn-outline-secondary" %>
</div>