<p id="notice"><%= notice %></p>
  
<h2>Your Cart</h2>
<div class="container" style="border-style:solid">
    <table class="table table-responsive" style="border-style:none">

        <thead>
            <th>Qty</th>
            <th>Catering Package Type</th>
            <th>Price</th>
        </thead>

        <% @cart.line_items.each do |item| %>
            <tbody>
                <td><%= item.quantity %>&times;</td>
                <td><%= item.cater_order_option.cateringOptions %></td>
                <td><%= number_to_currency(item.total_price) %></td>
        <% end %>
            <tr>  
                <td colspan="2" style="text-align:right; font-weight:bold; color:red">Total Price: </td>
                <td> <%= number_to_currency(@cart.total_price) %> </td>
            </tr>
            
            <tr>
                <td><%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= button_to "Checkout", new_order_path, method: :get %></td>
            </tr>
        </tbody>
    </table>
</div>